<h1>Show</h1>



    <p>
      <b>Assest_no</b>
      <%= @ast.assest_no%>
    </p>
    <p>
      <b>Assest_type</b>
      <%= @ast.assest_type%>
    </p>
    <p>
      <b>Issue_date</b>
      <%= @ast.issue_date%>
    </p>
<p>
  <b>Emp_id</b>
  <%= @ast.emp_id%>
</p>

<p>
  <b>Emp_name</b>
  <%= @ast.emp.name%>
</p>

<%= link_to 'emp_back',  emp_index_path %>
